
/*
 * Bungie.Net API
 *
 * These endpoints constitute the functionality exposed by Bungie.net, both for more traditional website functionality and for connectivity to Bungie video games and their related functionality.
 *
 * API version: 2.18.0
 * Contact: support@bungie.com
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */
package D2Client

import (
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"fmt"
	"github.com/antihax/optional"
)

// Linger please
var (
	_ context.Context
)

type FireteamApiService service
/*
FireteamApiService
Gets a count of all active non-public fireteams for the specified clan. Maximum value returned is 25.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param groupId The group id of the clan.

*/
func (a *FireteamApiService) FireteamGetActivePrivateClanFireteamCount(ctx context.Context, groupId int64) (*http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Get")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/Fireteam/Clan/{groupId}/ActiveCount/"
	localVarPath = strings.Replace(localVarPath, "{"+"groupId"+"}", fmt.Sprintf("%v", groupId), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarHttpResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarHttpResponse, err
	}


	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		return localVarHttpResponse, newErr
	}

	return localVarHttpResponse, nil
}
/*
FireteamApiService
Gets a listing of all of this clan&#x27;s fireteams that are have available slots. Caller is not checked for join criteria so caching is maximized.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param activityType The activity type to filter by.
 * @param dateRange The date range to grab available fireteams.
 * @param groupId The group id of the clan.
 * @param page Zero based page
 * @param platform The platform filter.
 * @param publicOnly Determines public/private filtering.
 * @param slotFilter Filters based on available slots
 * @param optional nil or *FireteamApiFireteamGetAvailableClanFireteamsOpts - Optional Parameters:
     * @param "ExcludeImmediate" (optional.Bool) -  If you wish the result to exclude immediate fireteams, set this to true. Immediate-only can be forced using the dateRange enum.
     * @param "LangFilter" (optional.String) -  An optional language filter.

*/

type FireteamApiFireteamGetAvailableClanFireteamsOpts struct {
    ExcludeImmediate optional.Bool
    LangFilter optional.String
}

func (a *FireteamApiService) FireteamGetAvailableClanFireteams(ctx context.Context, activityType int32, dateRange int32, groupId int64, page int32, platform int32, publicOnly int32, slotFilter int32, localVarOptionals *FireteamApiFireteamGetAvailableClanFireteamsOpts) (*http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Get")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/Fireteam/Clan/{groupId}/Available/{platform}/{activityType}/{dateRange}/{slotFilter}/{publicOnly}/{page}/"
	localVarPath = strings.Replace(localVarPath, "{"+"activityType"+"}", fmt.Sprintf("%v", activityType), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"dateRange"+"}", fmt.Sprintf("%v", dateRange), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"groupId"+"}", fmt.Sprintf("%v", groupId), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"page"+"}", fmt.Sprintf("%v", page), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"platform"+"}", fmt.Sprintf("%v", platform), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"publicOnly"+"}", fmt.Sprintf("%v", publicOnly), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"slotFilter"+"}", fmt.Sprintf("%v", slotFilter), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.ExcludeImmediate.IsSet() {
		localVarQueryParams.Add("excludeImmediate", parameterToString(localVarOptionals.ExcludeImmediate.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.LangFilter.IsSet() {
		localVarQueryParams.Add("langFilter", parameterToString(localVarOptionals.LangFilter.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarHttpResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarHttpResponse, err
	}


	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		return localVarHttpResponse, newErr
	}

	return localVarHttpResponse, nil
}
/*
FireteamApiService
Gets a specific fireteam.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param fireteamId The unique id of the fireteam.
 * @param groupId The group id of the clan.

*/
func (a *FireteamApiService) FireteamGetClanFireteam(ctx context.Context, fireteamId int64, groupId int64) (*http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Get")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/Fireteam/Clan/{groupId}/Summary/{fireteamId}/"
	localVarPath = strings.Replace(localVarPath, "{"+"fireteamId"+"}", fmt.Sprintf("%v", fireteamId), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"groupId"+"}", fmt.Sprintf("%v", groupId), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarHttpResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarHttpResponse, err
	}


	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		return localVarHttpResponse, newErr
	}

	return localVarHttpResponse, nil
}
/*
FireteamApiService
Gets a listing of all fireteams that caller is an applicant, a member, or an alternate of.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param groupId The group id of the clan. (This parameter is ignored unless the optional query parameter groupFilter is true).
 * @param includeClosed If true, return fireteams that have been closed.
 * @param page Deprecated parameter, ignored.
 * @param platform The platform filter.
 * @param optional nil or *FireteamApiFireteamGetMyClanFireteamsOpts - Optional Parameters:
     * @param "GroupFilter" (optional.Bool) -  If true, filter by clan. Otherwise, ignore the clan and show all of the user&#x27;s fireteams.
     * @param "LangFilter" (optional.String) -  An optional language filter.

*/

type FireteamApiFireteamGetMyClanFireteamsOpts struct {
    GroupFilter optional.Bool
    LangFilter optional.String
}

func (a *FireteamApiService) FireteamGetMyClanFireteams(ctx context.Context, groupId int64, includeClosed bool, page int32, platform int32, localVarOptionals *FireteamApiFireteamGetMyClanFireteamsOpts) (*http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Get")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/Fireteam/Clan/{groupId}/My/{platform}/{includeClosed}/{page}/"
	localVarPath = strings.Replace(localVarPath, "{"+"groupId"+"}", fmt.Sprintf("%v", groupId), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"includeClosed"+"}", fmt.Sprintf("%v", includeClosed), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"page"+"}", fmt.Sprintf("%v", page), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"platform"+"}", fmt.Sprintf("%v", platform), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.GroupFilter.IsSet() {
		localVarQueryParams.Add("groupFilter", parameterToString(localVarOptionals.GroupFilter.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.LangFilter.IsSet() {
		localVarQueryParams.Add("langFilter", parameterToString(localVarOptionals.LangFilter.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarHttpResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarHttpResponse, err
	}


	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		return localVarHttpResponse, newErr
	}

	return localVarHttpResponse, nil
}
/*
FireteamApiService
Gets a listing of all public fireteams starting now with open slots. Caller is not checked for join criteria so caching is maximized.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param activityType The activity type to filter by.
 * @param dateRange The date range to grab available fireteams.
 * @param page Zero based page
 * @param platform The platform filter.
 * @param slotFilter Filters based on available slots
 * @param optional nil or *FireteamApiFireteamSearchPublicAvailableClanFireteamsOpts - Optional Parameters:
     * @param "ExcludeImmediate" (optional.Bool) -  If you wish the result to exclude immediate fireteams, set this to true. Immediate-only can be forced using the dateRange enum.
     * @param "LangFilter" (optional.String) -  An optional language filter.

*/

type FireteamApiFireteamSearchPublicAvailableClanFireteamsOpts struct {
    ExcludeImmediate optional.Bool
    LangFilter optional.String
}

func (a *FireteamApiService) FireteamSearchPublicAvailableClanFireteams(ctx context.Context, activityType int32, dateRange int32, page int32, platform int32, slotFilter int32, localVarOptionals *FireteamApiFireteamSearchPublicAvailableClanFireteamsOpts) (*http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Get")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/Fireteam/Search/Available/{platform}/{activityType}/{dateRange}/{slotFilter}/{page}/"
	localVarPath = strings.Replace(localVarPath, "{"+"activityType"+"}", fmt.Sprintf("%v", activityType), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"dateRange"+"}", fmt.Sprintf("%v", dateRange), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"page"+"}", fmt.Sprintf("%v", page), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"platform"+"}", fmt.Sprintf("%v", platform), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"slotFilter"+"}", fmt.Sprintf("%v", slotFilter), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.ExcludeImmediate.IsSet() {
		localVarQueryParams.Add("excludeImmediate", parameterToString(localVarOptionals.ExcludeImmediate.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.LangFilter.IsSet() {
		localVarQueryParams.Add("langFilter", parameterToString(localVarOptionals.LangFilter.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarHttpResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarHttpResponse, err
	}


	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		return localVarHttpResponse, newErr
	}

	return localVarHttpResponse, nil
}
