<div id="vault" class="container mx-auto rounded-md border-4 border-orange-300">
    <h1 id="name">{{ .Guardian.Name }}</h1>
        <div id="vault-viewport">
            Here's where I'd put my vault...if I HAD one
        </div>
</div>
